# to sync with .dockerignore
.coverage
coverage/
cache/
.installed.cfg
engines.cfg
env
searx-ve
robot_log.html
robot_output.xml
robot_report.html
test_basic/
setup.cfg

*.pyc
*/*.pyc
*~
*.swp

/node_modules

.tx/

build/
dist/
local/
gh-pages/
searx.egg-info/
.DS_Store
searx/.DS_Store
searx/static/.DS_Store
searx/static/logos/.DS_Store
searx/static/logos/compressed/.DS_Store
searx/static/themes/.DS_Store
searx/static/themes/oscar/img/.DS_Store
